<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kissat</title>
    <link rel="stylesheet" href="/tyylit/style.css" />
  </head>
  <body>
    <% if (typeof kissaId !== 'undefined' && kissaId) { %>
        <h1>Tietoa kissasta ID: <%= kissaId %></h1>
    <% } else { %>
        <h1>Kaikki kissat</h1>
        <p>Suodatus: ikä vähintään <%= ika %>, järjestys: <%= jarjestys %></p>
    <% } %>
    <h1>Kissat</h1>
    <img src="/images/cat1.png" />
    <img src="/images/cat2.png" />
  </body>
</html>
