<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Palaute vastaanotettu</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Kiitos palautteestasi!</h1>
    <p>
      Kiitos palautteestasi, <%= name %>! Otamme sinuun tarvittaessa yhteyttä
      sähköpostitse osoitteeseen <%= email %>.
    </p>
    <br />
    <a href="/palaute">Lähetä uusi palaute</a>
  </body>
</html>
